name: CI

on:
  pull_request:
    branches:
    - master
  push:
    branches:
    - master
    - issue/*

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@main
    - uses: actions/setup-go@main
      with:
        go-version: '^1.25.3'
    - run: go get -u github.com/ahmetb/govvv
    - run: go install github.com/ahmetb/govvv
    - name: Generate build number
      uses: onyxmueller/build-tag-number@main
      with:
        token: ${{secrets.GITHUB_TOKEN}}
        prefix: build_number_generator
    - name: Print new build number
      run: echo "Build number is $BUILD_NUMBER"
    - name: Save the build number
      run: echo "$BUILD_NUMBER" > work/BUILD_NUMBER
    - name: Embed build number into code
      run: echo "build-$BUILD_NUMBER" > ./VERSION
    - run: govvv build -o work/logfilter .
    - uses: actions/upload-artifact@main
      with:
        name: artifact
        path: work/logfilter
    - uses: actions/upload-artifact@main
      with:
        name: build-number
        path: work/BUILD_NUMBER

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@main
    - uses: actions/setup-go@main
      with:
        go-version: '^1.25.3'
    - run: go get -u github.com/jstemmer/go-junit-report
    - run: go install github.com/jstemmer/go-junit-report
    - run: go test -v ./... 2>&1 | tee work/test.log
    - run: go-junit-report < work/test.log | tee work/report.xml
    - name: Publish Unit Test Results
      uses: EnricoMi/publish-unit-test-result-action@master
      if: always()
      with:
        github_token: ${{secrets.GITHUB_TOKEN}}
        files: work/report.xml

  release:
    needs:
    - test
    - build
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    env:
      # Workaround for https://github.com/github/vscode-github-actions/issues/222
      BUILD_NUMBER: ""
    steps:
    - uses: actions/download-artifact@main
      with:
        name: artifact
    - uses: actions/download-artifact@main
      with:
        name: build-number
    - name: Show artifacts
      run: ls -laR ./
    - name: set BUILD_NUMBER
      run: echo "BUILD_NUMBER=$(< ./BUILD_NUMBER)" >> $GITHUB_ENV
    - run: mv logfilter logfilter.build-${{env.BUILD_NUMBER}}-linux-amd64
    - id: create_release
      uses: softprops/action-gh-release@master
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      with:
        tag_name: build-${{env.BUILD_NUMBER}}
        name: Build ${{env.BUILD_NUMBER}}
        draft: false
        prerelease: false
        files: |
          logfilter.*
